<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("parts/head") %>
  <link rel="stylesheet" href="css/gallery.bog.style.css">

</head>

<body>

  <!-- start header -->
  <%- include("parts/header") %>

  <!-- partial:index.partial.html -->

  <%- include("parts/components/serivces") %>



  <!-- start footer -->
  <%- include("parts/footer") %>



  <%- include("parts/footer-links")  %>
  <script src="/js/photo.bog.image.js"></script>
  <script src="/js/serivces.js"></script>

</body>


</body>

</html>